body {
    background: linear-gradient(to bottom, rgb(119, 180, 238), rgb(206, 231, 241));
}

.mdc-login-bg {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right bottom, #20578d, #53b4a4);
}
#login-logo {
    width: 50%;
}

.info-item {
    display: inline-block;
    margin-bottom: 14px;
    margin-right: 14px;
    font-size: 1.1em;
    box-shadow: 1px 0 3px #777;
    border-left: 4px solid #25533c;
}

.info-item>i{
    background-color: #abf8d2;
    padding: 0 8px 0 5px;
    margin: 0;
    border-right: 1px solid rgba(41, 58, 50, 0.356);
}

.info-item>span {
    padding: 0px 14px 0 8px;
    background-color: #e3f5ff;
    font-weight: 600;
    padding-right: 14px;
}

.bg-light-blue { background-color: #e3f5ff; }

/* Overrides */


.table, .form-control {
    color: #555762;
}

.sidebar .nav-item .nav-link {
    padding: 0.6rem;
}
